/resources/
/app/node_modules
/server/node_modules

/app/coverage
/app/spare-page.txt

/app/build
app/.DS_Store
app/.env
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
